{% load static %}

<!-- ↑静的ファイル配信先のURLを読み込んでいる。教科書P77-->

<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<title>TODOリスト管理ツール</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <link rel="stylesheet" href="{% static 'todo/css/style.css' %}">
    <!-- ↑静的ファイルの読み込み。パスはstatic以下を記述 教科書P77-->
</head>
<body>
    <header class="bg-primary">
        <!-- ↓URLの逆引き処理。教科書P78-->
        <a href="{% url 'todo:index' %}"><h1 class="text-center text-white">TODOリスト管理ツール</h1></a>
    </header>

    <!--波括弧を使用して変数もしくは処理を実行する、これがDTL(Django Template Language)。教科書P69
        
        なぜ波括弧なのか？→通常のPythonで使用する記号ではHTMLと競合するから -->
    <main class="container">

        <form action="" method="post">
            {% csrf_token %}
            <!-- formとそのまま書いても良いが、自動的にテーブルタグで囲まれるので注意 -->
            {{ form.deadline }}
            {{ form.content }}
            <input class="form-control my-2" type="submit" value="送信">
        </form>

        <table>
            <thead>
                <tr>
                    <td>期限</td>
                    <td>やること</td>
                    <td>削除</td>
                </tr>
            </thead>
            <tbody>
                <!--ここがやることリスト、ループさせる 教科書P75-->
                {% for todo_data in data %}
                <tr>
                    <td class="text-center">{{ todo_data.deadline }}</td>
                    <!--↓フィルタのlinebreaksbrは改行をBRタグとして処理をする。改行込みの文字列を表示する際に使う。教科書P71-->
                    <td>{{ todo_data.content|linebreaksbr }}</td>
                    <td class="trash">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="todo_delete" value="{{ todo_data.id }}">
                            <input id="todo_delete_{{ todo_data.id }}" type="submit" style="display:none;">
                            <label for="todo_delete_{{ todo_data.id }}"><i class="fas fa-trash-alt"></i></label>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </main>


</body>
</html>

